@font-face {
  font-family: FactorMedium;
  src: url('../../fonts/FactorAMedium-Regular.ttf');
}
.review-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review-title {
  font-family: FactorMedium;
  font-weight: 500;
  font-size: 68px;
  line-height: 88px;
  margin-left: 80px;
  margin-top: 39px;
}

.plus-icon {
  height: 14.3px;
  width: 14.3px;
}

.add-review-btn {
  margin-right: 56px;
}
