.review-list {
  position: relative;
  background-color: #fff;
  width: 90.704%;
  height: 100%;
  margin-left: -80px;
  padding-bottom: 81px;
}
.toast {
  position: absolute;
  right: -200px;
  bottom: -75px;
}
.elipse {
  position: absolute;
  right: 140px;
  bottom: 20px;
}
