@font-face {
  font-family: FactoryNormal;
  src: url("../../fonts/FactorAMedium-Regular.ttf");
}
.home {
  position: relative;
  padding-bottom: 89px;
}
.wrapper {
  padding: 93px 0 0px 0px;
}

.title {
  margin: 0;
  margin-bottom: 88px;
  font-family: FactoryNormal;
  font-weight: 500;
  font-size: 124px;
  line-height: 148px;
  letter-spacing: -0.0124em;
  color: #ffffff;
}

.spiral {
  position: absolute;
  right: -125px;
  top: -130px;
}
/* .userCard {
	position: absolute;
	left: 599px;
	top: 593px
} */
