@font-face {
  font-family: Gilroy;
  src: url("../../../fonts/Gilroy-Regular.ttf");
}
@font-face {
  font-family: Factor;
  src: url("../../../fonts/FactorAMedium-Regular.ttf");
}

p {
  font-family: Factor;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -1.24%;
}
.form {
  font-family: Gilroy;
  font-size: 14px;
}

.send-block {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.send-about {
  margin-left: 8px;
  color: #8a8a8a;
  font-size: 12px;
}
.send-moderation {
  display: flex;
  align-items: center;
  margin-left: 16px;
}
