.MyButton {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	color: white;
	text-align: center;
	border-radius: 2px;
	padding: 17px, 28px, 17px, 28px;
	background: #585CC6;
	border: none;
	z-index: 3;
}