.input {
  width: 381px;
  height: 50px;
  border: 1px solid #e0e0e0;
  padding: 0;
  padding-left: 12px;
  font-family: inherit;
  font-size: inherit;
  margin-right: 16px;
  outline: none;
}

input.input:focus {
  border: 2px solid #585cc6;
}

.input-wrapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-wrapp MyButton {
}
.error {
  border: 2px solid red;
  color: red;
}
input.error:focus {
  border: 2px solid red;
  color: red;
}
