@font-face {
  font-family: Gilroy;
  src: url('../../fonts/Gilroy-Medium.ttf');
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 80px;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #8A8A8A;

}
.footer-social {
  display: flex;
}