img {
  max-width: 100%;
  max-height: 100%;
}
.elipse {
  z-index: 10;
}
@media (max-width: 768px) {
  .image-title__mob {
    width: 32px;
    height: 32px;
  }
  .image-logo__mob * {
    width: 59.14px;
    height: 36px;
  }
}
